.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid rgb(197, 146, 17);
  padding: 30px;
}

.menu {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}

.menu-item {
  margin-left: 10px;
}

.logo-img {
  width: 50%;
}
