<app-base>
  <!-- <app-header></app-header>
  <app-banner></app-banner> -->
  <!-- <app-galery-image></app-galery-image> -->
  <!-- <app-pbb-count></app-pbb-count> -->
  <!-- <app-todo></app-todo> -->
  <app-menu-app></app-menu-app>
</app-base>
<!-- 
<div class="container mt-3">
  <div class="row">
    <div class="col-md-3" *ngFor="let post of posts">
      <div class="card">
        <img [src]="post.urlImage" class="card-img-top" [alt]="post.urlImage" />
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.body }}</p>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <h1>Name : {{ name }}</h1>
<div>
  <input type="text" [(ngModel)]="name" name="" id="" />
</div> -->
<!-- <div class="porto">
  <app-galery></app-galery>
</div> -->
