<div class="container full">
  <div class="row">
    <div class="left col">
      <div class="content-porto">
        <div class="title">
          <h1>Lorem ipsum dolor, sit amet consectetur adipisicing</h1>
        </div>
        <div class="description-porto">
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe
            officia voluptatum sequi magnam dicta, provident laudantium,
            corporis quam illo, molestias odit. Porro eos architecto deserunt
            nostrum aliquam debitis sunt placeat.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti a
            pariatur voluptas. Est corrupti animi, inventore dolores iste, totam
            blanditiis ea reiciendis harum obcaecati dicta! Assumenda
            repudiandae eos animi officia! Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Vitae sit quas natus perferendis nulla
            rerum laborum aspernatur, nemo unde, fugit et eius, molestiae vero
            explicabo cum ea perspiciatis aperiam est.
          </p>
        </div>
        <div class="option">
          <div class="button">
            <a href="#" (click)="addImage()">ADD IMAGE</a>
          </div>
          <div class="button">
            <a href="#" (click)="popImage()">POP IMAGE</a>
          </div>
        </div>
      </div>
    </div>
    <div class="right col">
      <div class="title">
        <h1>Images</h1>
      </div>
      <div class="image-container">
        <div *ngFor="let image of images">
          <img class="image" [src]="image" [alt]="image" />
        </div>
      </div>
    </div>
  </div>
</div>
