<div class="container">
  <div class="content">
    <div class="title">
      <h1>Fullstack Web Developer</h1>
    </div>
    <div class="description">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem magni
        voluptatem quos aliquid illo ipsa harum doloremque libero similique ex
        in voluptas iure tenetur sint laudantium deleniti doloribus, voluptates
        illum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
        nobis sunt obcaecati. Nulla, dolores totam dicta, minima tenetur error
        ea rerum officia magnam suscipit quam est, facere esse possimus
        voluptas?
      </p>
    </div>
    <div class="option">
      <div class="button">
        <a href="#" (click)="tampilData('tampilkan data')">ABOUT</a>
      </div>
      <div class="button"><a href="#">PORTO</a></div>
    </div>
  </div>
</div>
